BasedOnStyle: Google
UseTab: false
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 8
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 120
AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: false
PointerAlignment: Left
SpacesInAngles: false
SpaceAfterTemplateKeyword: false
AlignAfterOpenBracket: DontAlign
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowAllArgumentsOnNextLine: false
AlwaysBreakBeforeMultilineStrings: false
