BasedOnStyle: Google
UseTab: Never
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 8
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
ColumnLimit: 120
AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: false
PackConstructorInitializers: Never
PointerAlignment: Left
ReferenceAlignment: Left
SpacesInAngles: Never
SpaceAfterTemplateKeyword: false
AlignAfterOpenBracket: DontAlign
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowAllArgumentsOnNextLine: false
AlwaysBreakBeforeMultilineStrings: false
