<launch>
    <arg name="mission"  default="surface_traverse_1"/>
    <arg name="data_dir" default="$(env HOME)/data/simulator_prcp_gazebo/"/>
    <arg name="rate"     default="1"/>

    <arg name="bagfile"  value="$(arg data_dir)/$(arg mission).bag"/>

    <node pkg="rosbag" type="play" name="mission_play" args="$(arg bagfile) --clock -r $(arg rate) --pause"
            output="screen"/>
</launch>
