<launch>
    <arg name="rate"     default="1"/>
    <arg name="start"    default="30"/>

    <!-- SERPENT -->
    <include file="$(find snowboard)/launch/serpent.launch">
        <arg name="mission"         value="ice_rink"/>

        <!-- Playback -->
        <arg name="rosbag"          value="replaced_timestamps_imu_prepared_2022-07-13-21-57-40.bag"/>
        <arg name="data_dir"        value="$(env HOME)/data/jpl_snowboard/ice_rink_data"/>
        <arg name="rate"            value="$(arg rate)"/>
        <arg name="start"           value="$(arg start)"/>
    </include>
</launch>
