<launch>
    <arg name="rate"     default="1"/>

    <!-- SERPENT -->
    <include file="$(find snowboard)/launch/serpent.launch">
        <!-- Playback -->
        <arg name="rosbag_mission"  default="imu_prepared_fixed_points_night_lidar_no_images"/>
        <arg name="data_dir"        default="$(env HOME)/data/jpl_snowboard/LIDAR-IMU_dataset_challenging_flat_snow_surface_2022-03-31"/>
        <arg name="rate"            default="$(arg rate)"/>
    </include>
</launch>
