<launch>
    <arg name="mission"         value="mammoth_outdoor"/>
    <arg name="stereo_camera"   default="snowboard_left"/>

    <!-- Split Images -->
    <include file="$(find snowboard)/launch/split_images.launch"/>

    <!-- Undistort Stereo -->
    <include file="$(find snowboard)/launch/undistort_stereo.launch">
        <arg name="stereo_camera" default="$(arg stereo_camera)"/>
    </include>

    <!-- Launch Serpent Stereo Pipeline -->
    <include file="$(find serpent)/launch/serpent_stereo_pipeline.launch">
        <arg name="pointcloud_topic"               value="/os_cloud_node/points"/>
        <arg name="stereo_left_cam_image_topic"    value="/$(arg stereo_camera)/left/rect/image"/>
        <arg name="stereo_left_cam_info_topic"     value="/$(arg stereo_camera)/left/rect/camera_info"/>
        <arg name="stereo_right_cam_image_topic"   value="/$(arg stereo_camera)/right/rect/image"/>
        <arg name="stereo_right_cam_info_topic"    value="/$(arg stereo_camera)/right/rect/camera_info"/>

        <arg name="robot_file"                      value="$(find snowboard)/config/serpent/snowboard.yaml"/>
        <arg name="mission_file"                    value="$(find snowboard)/config/serpent/mission/$(arg mission).yaml"/>
        <arg name="filter_file"                     value="$(find snowboard)/config/serpent/filter.yaml"/>
        <arg name="format_file"                     value="$(find snowboard)/config/serpent/format.yaml"/>
        <arg name="normal_estimation_file"          value="$(find snowboard)/config/serpent/normal_estimation.yaml"/>
        <arg name="covariance_estimation_file"      value="$(find snowboard)/config/serpent/covariance_estimation.yaml"/>
        <arg name="tuning_file"                     value="$(find snowboard)/config/serpent/tuning.yaml"/>
        <arg name="debug_file"                      value="$(find snowboard)/config/serpent/debug.yaml"/>
        <arg name="threads"                 value="4"/>

        <arg name="use_gdb"                 value="false"/>

        <arg name="play_rosbag"             value="true"/>
        <arg name="rosbag"                  value="replaced_timestamps_2022-03-21-21-49-07.bag"/>
        <arg name="rosbag_data_dir"         value="$(env HOME)/data/jpl_snowboard/2022-03-21_image_imu_dataset"/>
        <arg name="rosbag_rate"             value="1"/>
        <arg name="rosbag_start"            value="0"/>
    </include>
</launch>
