<launch>
    <arg name="stereo_camera" default="snowboard_left"/>

    <include file="$(find snowboard)/launch/split_images.launch"/>

    <include file="$(find snowboard)/launch/undistort_stereo.launch">
        <arg name="stereo_camera" default="$(arg stereo_camera)"/>
    </include>
    
    <include file="$(find snowboard)/launch/serpent.launch">
        <arg name="rosbag_mission"  default="replaced_timestamps_2022-03-21-21-49-07"/>
        <arg name="data_dir"        default="$(env HOME)/data/jpl_snowboard/2022-03-21_image_imu_dataset"/>

        <arg name="stereo_left_cam_image_topic"     default="/$(arg stereo_camera)/left/rect/image"/>
        <arg name="stereo_right_cam_image_topic"    default="/$(arg stereo_camera)/right/rect/image"/>
        <arg name="stereo_left_cam_info_topic"      default="/$(arg stereo_camera)/left/rect/camera_info"/>
        <arg name="stereo_right_cam_info_topic"     default="/$(arg stereo_camera)/right/rect/camera_info"/>
    </include>
</launch>
