<launch>
    <arg name="rate"     default="1"/>
    <arg name="start"    default="0"/>
    <arg name="stereo_camera" default="snowboard_left"/>
    
    <!-- SERPENT -->
    <include file="$(find snowboard)/launch/serpent.launch">
        <arg name="mission"         value="mammoth_outdoor"/>

        <!-- Playback -->
        <arg name="rosbag"          value="replaced_timestamps_2022-03-21-21-49-07.bag"/>
        <arg name="data_dir"        value="$(env HOME)/data/jpl_snowboard/2022-03-21_image_imu_dataset"/>
        <arg name="rate"            value="$(arg rate)"/>
        <arg name="start"           value="$(arg start)"/>

        <!-- Stereo Camera -->
        <arg name="stereo_camera"   value="$(arg stereo_camera)"/>
    </include>
</launch>
