<launch>
    <arg name="rate"     default="1"/>
    <arg name="start"    default="0"/>

    <!-- SERPENT -->
    <include file="$(find snowboard)/launch/serpent.launch">
        <!-- Playback -->
        <arg name="rosbag_mission"  default="fixed_imu_prepared_2022-07-19-22-03-40"/>
        <arg name="data_dir"        default="$(env HOME)/data/jpl_snowboard/tunnel"/>
        <arg name="rate"            default="$(arg rate)"/>
        <arg name="start"           default="$(arg start)"/>
    </include>
</launch>
