<launch>
    <arg name="rate"     default="1"/>
    <arg name="stereo_camera" default="snowboard_left"/>
    
    <!-- SERPENT -->
    <include file="$(find snowboard)/launch/serpent.launch">
        <!-- Playback -->
        <arg name="rosbag_mission"  default="replaced_timestamps_2022-03-21-21-49-07"/>
        <arg name="data_dir"        default="$(env HOME)/data/jpl_snowboard/2022-03-21_image_imu_dataset"/>
        <arg name="rate"            default="$(arg rate)"/>

        <!-- Stereo Camera -->
        <arg name="stereo_camera"   default="$(arg stereo_camera)"/>
    </include>
</launch>
