<launch>
    <arg name="left_image_topic"    default="/left_cam/image_raw"/>
    <arg name="left_info_topic"     default="/left_cam/camera_info"/>
    <arg name="right_image_topic"   default="/right_cam/image_raw"/>
    <arg name="right_info_topic"    default="/right_cam/camera_info"/>

    <include file="$(find camera_tools)/launch/publish_info.launch">
        <arg name="input_image_topic" value="$(arg left_image_topic)"/>
        <arg name="output_info_topic" value="$(arg left_info_topic)"/>
        <arg name="config_file"       value="$(find ue4_missions)/config/left_camera_info.yaml"/>
        <arg name="node_name"         value="publish_left_camera_info"/>
    </include>
    <include file="$(find camera_tools)/launch/publish_info.launch">
        <arg name="input_image_topic" value="$(arg right_image_topic)"/>
        <arg name="output_info_topic" value="$(arg right_info_topic)"/>
        <arg name="config_file"       value="$(find ue4_missions)/config/right_camera_info.yaml"/>
        <arg name="node_name"         value="publish_right_camera_info"/>
    </include>
</launch>
