<launch>
    <arg name="left_image_topic"    default="/left_cam"/>
    <arg name="left_info_topic"     default="/left_camera_info"/>
    <arg name="right_image_topic"   default="/right_cam"/>
    <arg name="right_info_topic"    default="/right_camera_info"/>

    <!-- Publish camera info -->
    <include file="$(find ue4_missions)/launch/publish_camera_info.launch">
        <arg name="left_image_topic"    value="$(arg left_image_topic)"/>
        <arg name="left_info_topic"     value="$(arg left_info_topic)"/>
        <arg name="right_image_topic"   value="$(arg right_image_topic)"/>
        <arg name="right_info_topic"    value="$(arg right_info_topic)"/>
    </include>

    <!-- Launch Serpent Stereo Pipelin -->
    <include file="$(find serpent)/launch/serpent_stereo_pipeline.launch">
        <arg name="stereo_left_cam_image_topic"    value="$(arg left_image_topic)"/>
        <arg name="stereo_left_cam_info_topic"     value="$(arg left_info_topic)"/>
        <arg name="stereo_right_cam_image_topic"   value="$(arg right_image_topic)"/>
        <arg name="stereo_right_cam_info_topic"    value="$(arg right_info_topic)"/>

        <arg name="robot_file"              value="$(find ue4_missions)/config/serpent/ue4_platform.yaml"/>
        <arg name="mission_file"            value="$(find ue4_missions)/config/serpent/mission/icy_surface.yaml"/>
        <arg name="filter_file"             value="$(find ue4_missions)/config/serpent/filter.yaml"/>
        <arg name="format_file"             value="$(find ue4_missions)/config/serpent/format.yaml"/>
        <arg name="normal_estimation_file"  value="$(find ue4_missions)/config/serpent/normal_estimation.yaml"/>
        <arg name="tuning_file"             value="$(find ue4_missions)/config/serpent/tuning.yaml"/>
        <arg name="debug_file"              value="$(find ue4_missions)/config/serpent/debug.yaml"/>
        <arg name="threads"                 value="4"/>

        <arg name="use_gdb"                 value="false"/>

        <arg name="play_rosbag"             value="true"/>
        <arg name="rosbag_mission"          value="ue4_icy_surface_0"/>
        <arg name="rosbag_data_dir"         value="$(env HOME)/data/ue4_pedro"/>
        <arg name="rosbag_rate"             value="1"/>
        <arg name="rosbag_start"            value="0"/>
    </include>
</launch>
